.blog-post h1 {
  margin-bottom: 0.2rem;
}

.blog-post ul {
  list-style: square;
  list-style-position: inside;
  padding-left: 0.625rem;
}

.blog-post ol {
  padding-left: 1.25rem;
}

.blog-post blockquote {
  border-left: 0.625rem solid #555;
  margin: 1.5rem 0.625rem;
  padding: 0.5rem 0.625rem;
  quotes: '\201C''\201D''\2018''\2019';
}

.blog-post blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1rem;
  margin-right: 0.25rem;
  vertical-align: -0.4rem;
}

.blog-post blockquote p {
  display: inline;
}

.blog-post pre {
  border: 0.15625rem dashed #555;
  padding: 0.9375rem;
}

.blog-post .blog-post-pagination {
  display: flex;
  border-top: 1px solid #555;
  margin: 0;
  padding: 1.2rem 0;
  justify-content: space-between;
  list-style: none;
}

.blog-post .tags {
  margin: 0.5rem 0 0.2rem 0;
  font-size: 1.1rem;
}

.blog-post .tags a {
  margin-right: 0.3125rem;
}
