footer {
display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-top: 1px solid #555555;
}

footer .column {
  width: 32%;
}

footer .column h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media (max-width: 35.75rem) {
  footer {
    display: block;
  }

  footer .column {
    width: 100%;
  }
}
