header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #555555;
}

.header_title {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
  text-decoration: none;
}

.navigation {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  flex-direction: column;
}

.navigation nav a,
.social {
  margin-left: 0.5rem;
}

.navigation nav a {
  font-size: 1.2rem;
}

.social {
  display: flex;
  margin-top: 1rem;
  margin-left: 0;
}

.social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.mastodon svg,
.twitter svg,
.rss svg,
.ssb svg,
.dat svg {
  width: auto;
  height: 1.40625rem;
}

@media (min-width: 37.5rem) {
  .navigation {
    flex-direction: row;
    align-items: center;
  }

  .social {
    margin-top: 0;
  }
}

@media (min-width: 48rem) {
  .navigation {
    margin-top: 0;
  }

  .navigation nav a,
  .social {
    margin-left: 2rem;
  }
}
