.container {
  display: flex;
  flex-direction: column;
}

.container .date {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #333;
}

.excerpt {
  margin-right: 0;
}

.featured-image {
  max-width: 100%;
}

.title {
  margin-bottom: 0.3rem;
}

.row {
  display: block;
  margin-bottom: 2rem;
}

.sidebar label {
  display: block;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

.sidebar .search-button-container {
  position: relative;
  display: inline-block;
}

.sidebar .search input {
  border: 1px solid #000;
  padding: 0.3125rem;
  height: 2rem;
  outline: none;
  color: #000;
}

.sidebar .search button {
  position: absolute;
  width: 2.5rem;
  height: 2rem;
  right: 0;
  top: 0;
  padding: 0;
  border: 1px solid #000;
  background: #000;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
}

.sidebar ul {
  padding-left: 0.3125rem;
  list-style: square;
  list-style-position: inside;
}

.pagination {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.pagination .page {
  margin-right: 0.3125rem;
  margin-right: 0.3125rem;
}

.pagination .active {
  font-weight: bold;
}

@media (min-width: 48rem) {
  .container {
    flex-direction: row;
    flex: 1;
  }

  main {
    flex: 1;
  }

  .sidebar {
    flex: 0 0 13rem;
  }

  .excerpt {
    margin-right: 10%;
  }

  .featured-image {
    max-width: 90%;
  }
}
