* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: #fff;
  background-repeat: repeat;
  background-image: url('../images/bg.png');
  color: #000;
  line-height: 1;
  font-size: 16px;
  margin: 0;
  word-wrap: break-word;
}

a {
  display: inline-block;
  line-height: 1.5rem;
  color: #000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:hover svg {
  fill: #555;
}

a:focus {
  outline: 0.15rem dashed #000;
}

p,
li,
p a {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.wrapper {
  max-width: 67.5rem;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.5rem;
}

.visually_hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.all-tags {
  margin: 2rem 0;
}

.all-tags a {
  font-weight: 600;
}

.article-list article p {
  padding-bottom: 2rem;
  border-bottom: 1px solid #555;
}
